.descriptionBlock {
    padding: 10px;
    display: grid;
    grid-template-areas:
            "mainPhoto status"
            "mainPhoto description";
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 7fr;
    grid-gap: 10px;
}

.descriptionBlock .mainPhoto {
    width: 220px;
    height: 260px;
}
.status {
    grid-area: status;
}
.description {
    grid-area: description;
}

.mainPhoto {
    grid-area: mainPhoto;
    max-width: 220px;
    max-height: 260px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.mainPhoto:hover .buttonPhoto {
    bottom: 0;
}

.buttonPhoto {
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: 0.5s all;
}

.contact {
    padding-left: 10px;
}

